.info, .form-container {
    display: none;
}

.active {
    display: flex;
    gap: 15px;
}

.green {
    background-color: lightgreen;
}

.form-display {
    text-align: center;
}

.item-form {
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.form-container {
    padding: 25px;
}

.btns {
    display: flex;
    gap: 5px;
}