body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 15px;
}

#header {
    grid-column: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#header > #nav {
    text-align: inherit;
    padding-top: 50px;
}

button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#content-header {
    text-align: center;
    padding-bottom: 40px;
}

#nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.add {
    border: 2px solid black;
    border-radius: 25px;
    padding: 0;
}

#display {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 10px;
}

.item-header {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 15px;
}

.item-title {
    grid-column: 1 / span 1;
}

.item-info {
    grid-column: 3 / span 3;
}

.edit-btn {
    grid-column: 7 / 7;
    margin-right: 15px;
}

fieldset {
    border-style: none;
    gap: 5px;
}

form, fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    gap: 15px;
}
